.sale_wrapper{
    width: 100%;
    background-color: #f7f5f4;
    padding: 15px 0;
    
}
.sale_content{
    color: #61116a;
    font-size: 16px;
    text-align: center;
}
header{
    background-color: #fff;
}
.header_wrapper{
    width: 1200px;
    margin: 0 auto;
}
.additional_menu{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;

}

.additional_menu-list {
    display: flex;
    gap: 20px;
    padding-top: 5px;
}

.additional_menu-item {
    font-size: 14px;
}
.additional_menu-item:hover {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
.additional_menu-text{
    color:#e4e4e4;
    font-size: 11px;
    padding-top: 10px;
}
.header_center{
    display: flex;
    width: 1280px;
    height: 150px;
    padding-top: 30px;
}
.header_center-info{
    display: flex;
    gap: 50px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
    
}
.info_number{
    font-size: 14px;
    font-weight: bold;
}
.info_number:hover{
    cursor: pointer;
}
.header_center-logo{
    display: flex;
    justify-content: center;
    
}
.header_center-icon{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}
i{
    font-size: 20px;
    color: #61116a;
}
i:hover{
    cursor: pointer;
}
.main_menu{
    display: flex;
    justify-content: center;
    height: 25px;
    gap: 35px;
    
}
.main_menu-item{
    font-size: 25px;
}
.main_menu-item:hover{
    border-bottom: 0.5px solid;
    color: #43013B;
    cursor: pointer;
}
   
.mySlides{
    display: none;
}
.img-slider {
    width: 100%;
}
.slideshow-container {
margin: 0 auto;
max-width: 1920px;
position: relative;
margin-top: 15px;
}
/* Кнопки next & previous*/
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}
/* Измените положение "next button" */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
/* Добавьте черный фоновый цвет с небольшой прозрачностью*/
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Точки/маркеры/указатели */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #999999;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #43013B;
}
/* Выцветание анимации */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
.h2_top_line{
    padding-top: 31px;
    background: url(../image/decorelement.png) no-repeat 50% 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 200;
}
.slideshow_best-container{
    width: 1360px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
.slideshow_best-list {
    width: 3000%;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
}
.slideshow_best-item {
    display: inline;
}
h4{
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 200; 
    margin: 0;
    padding: 0;
    
}
.more_button:hover .more_button-line {
    cursor: pointer;
    width: 160px;
    transition: 1s;
}
.more_button h4 {
    padding: 13px 0 23px 0px;
}
.more_button-line {
    height: 2px;
    display: block;
    margin: 0 auto;
    background: url('../image/Line\ 1.svg');    
    width: 80px;
}

.banners_block{
    display: flex;
    flex-wrap: wrap;
    max-width: 1360px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    margin: 0 auto;
    /*overflow: hidden;*/
    /*position: relative;  */
}
.banners_block-item {
    width: 33.333%;
    float: left;
    overflow: hidden;
    position: relative;
}
.img-block{
    
    display: block;
    transition: 1s;
    
}
.img-block:hover{
    cursor: pointer;
    opacity:0.5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
}







.info_block {
    max-width: 1360px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.shops-info{
    text-transform: uppercase;
    font-family: 'Playfair Display', sans-serif;
    color: #43013B;
    font-size: 30px;
    letter-spacing: 0px;
    margin-bottom: 0px;
    padding-bottom: 40px;
    padding-top: 46px;
    text-align: center;
}
.items-row{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}
.col{
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}
.text-bl bord-right{
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;   
}
.text-blt__text {
    text-align: center;
}
.div_r{
    padding-left: 10px;
    padding-right: 10px;
    min-height: 151px;
    border-right: 0.5px solid #909090;
    display: block;
}
.text-bl h3{
    font-size: 25px;
    line-height: 20px;
    font-family: 'Playfair Display',sans-serif;
    font-weight: 200;
    text-align: center;

}
.text-bl_text{
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 100;
    line-height: 16px;
    font-size: 14px;
    padding: 0 15px;
    text-align: center;
    
}
.child-info-block{
    padding-top: 74px;
    padding-bottom: 92px;
    padding-left: 0px;
    padding-right: 0px;
}
.block-h1{
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
.child-info-block p{
font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 500;
line-height: 16px;
margin-bottom: 15px;
font-size: 12px;
margin-top: 0;
display: block;
}